KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CXXFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_SOURCES=\
$(ARCH_DIR)/arch_initialize.c \
$(ARCH_DIR)/boot.S \
$(ARCH_DIR)/gdt.c \
$(ARCH_DIR)/gdt.S \
$(ARCH_DIR)/idt.c \
$(ARCH_DIR)/idt.S \
$(ARCH_DIR)/isrs.c \
$(ARCH_DIR)/isrs.S \
$(ARCH_DIR)/irq.c \
$(ARCH_DIR)/irq.S \
$(ARCH_DIR)/tty.c \
